.lg_dropdown{
    display: flex;
    flex-direction: column;
    width: 1023px;
    margin: 32px auto;
    z-index: 100;
}

.lg_dropdown__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 47px;
    background-color: #FF6060;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    width: 983px;
}

.lg_dropdown__title{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 142.6%;
    text-align: left;
    color: white;
}

.lg_dropdown__list{
    display: none;
    background: #F7F7F7;
    border-radius: 10px;
    color: #FF6060;
    padding: 36px 20px 20px;
    z-index: 0;
}

.lg_dropdown__text{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 142.6%;
    text-align: left;
}

.active .lg_dropdown__list{
    display: block;
}

.active .lg_dropdown__arrow{
    transform: rotate(180deg);
}