.dropdown{
    position: relative;
    width: 100%;
    z-index: 100;
}

.dropdown__header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #FF6060;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    width: 93%;
    padding: 0 3.5%;
}

.dropdown__title{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 142.6%;
    text-align: left;
    color: white;
}

.dropdown__list{
    display: none;
    background: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
    margin-top: -10px;
    padding: 25px 15px 15px;
    z-index: 0;
}

.dropdown__item{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 142.6%;
    text-align: left;
}

.active .dropdown__list{
    display: block;
}

.dropdown__arrow{
    width: 15px;
}

.active .dropdown__arrow{
    transform: rotate(180deg);
}

@media screen and (min-width: 1024px){
    
    .dropdown__header{
        height: 52px;
        border-radius: 10px;
    }
    
    .dropdown__title{
        font-size: 18px;
    }
    
    .dropdown__list{
        border-radius: 10px;
        padding: 35px 20px 25px;
    }
    
    .dropdown__item{
        font-size: 18px;
    }
    
    .dropdown__arrow{
        width: 25px;
    }

    .active .dropdown__arrow{
        transform: rotate(180deg);
    }
}