.lg_dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1023px;
    margin: 32px auto;
    z-index: 100;
}

.lg_dropdown__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 30px;
    background-color: #FF6060;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    width: 96%;
}

.lg_dropdown__title{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 142.6%;
    text-align: left;
    color: white;
}

.lg_dropdown__list{
    display: none;
    background: #F7F7F7;
    border-radius: 10px;
    color: #FF6060;
    padding: 25px 15px 15px;
    margin-top: -10px;
    z-index: 0;
    min-height: 80px;
}

.lg_dropdown__text{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.6%;
    text-align: left;
}

.active .lg_dropdown__list{
    display: block;
}

.lg_dropdown__arrow{
    width: 15px;
}

.active .lg_dropdown__arrow{
    transform: rotate(180deg);
}

@media screen and (min-width: 480px){
    .lg_dropdown__header{
        height: 40px;
    }
    
    .lg_dropdown__title{
        font-size: 18px;
    }
    
    .lg_dropdown__list{
        padding: 20px;
    }
    
    .lg_dropdown__text{
        font-size: 18px;
    }

    .lg_dropdown__arrow{
        width: 24px;
    }

}

@media screen and (min-width: 768px){
    .lg_dropdown__header{
        height: 47px;
    }
    
    .lg_dropdown__title{
        font-size: 24px;
    }
    
    .lg_dropdown__list{
        padding: 36px 20px 20px;
    }
    
    .lg_dropdown__text{
        font-size: 24px;
    }

    .lg_dropdown__arrow{
        width: auto;
    }
}